* {
  margin-top: 5px;
  margin-bottom: 0;
  color: #db0707;
}

header h1 {
  color: #db0707;
  position: top;
  text-align: center;
  margin-right: 330px;
}

h2 {
  margin-top: 80px;
  color: #db0707;
  text-align: right;
  margin-right: 220px;
}

h4 {
  margin-left: 130px;
}

#backgroundSoft {
  background-color: #000;
  background-image: url(../assets/soft_willer.png);
  margin-top: 20px;
  background-repeat: no-repeat;
  background-position: top;
  background-position-x: right;
}

#buttom {
  background: #db0707;
  font: bold 20px arial, sans-serif;
  color: #000;
  border: 3px solid #000;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
}

#buttom:hover {
  background: rgba(255, 0, 0, 1);
  outline: 6px solid rgba(255, 0, 0, 1);
  border-radius: 30px;
  cursor: pointer;
}

footer {
  text-align: center;
  color: #db0707;
  font: bold 18px arial, sans-serif;
}

footer a {
  font: bold 20px arial, sans-serif;
  border: 2px solid #e90606ea;
  border-radius: 20px;
  padding: 3px;
  margin-right: 10px;
  text-decoration: none;
  color: #db0707;
}

footer a:hover {  
  outline: 6px solid rgba(255, 255, 255, 0.2);
  border-radius: 30px;
}

@media (max-width: 700px) {
  header h1 {
    font-size: 24px;
    position: relative;
  }
}

@media (max-width: 680px) {
  header h1 {
    font-size: 18px;
    position: relative;
  }
}

@media (max-width: 550px) {
  header h1 {
    font-size: 12px;
    position: relative;
  }
}

@media (max-width: 510px) {
  header h1 {
    font-size: 10px;
    position: relative;
  }
}

@media (max-width: 700px) {
  body h2 {
    font-size: 18px;
  }
}

@media (max-width: 550px) {
  body h2 {
    font-size: 15px;
  }
}

@media (max-width: 510px) {
  body h2 {
    font-size: 10px;
    margin-left: 2px;
    text-align: center;
  }
}

@media (max-width: 510px) {
  body h4 {
    font-size: 10px;    
  }
}

@media (max-width: 550px) {
  body img {
    width: 80%;
    height: 80%;
  }
}

@media (max-width: 550px) {
 body h4 {
  margin-top: 300px;
 }
}
