header h1 {
  background: #db0707;
  padding: 5px;
  text-align: center;
  font: bold 30px arial, #db0707, sans-serif;
  font-style: italic;
  border: 2px solid;
  border-radius: 10px;
  position: fixed;
  top: 0;
  left: 10px;
  right: 10px;
  z-index: 9999;
}

#input {
  background: #000000;
  background-image: url(../assets/technologies_.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 500px;
  background-position-y: 30%;
  font: bold 20px arial, sans-serif;
  color: #db0707;
  padding: 25px;
  padding-bottom: 0;
  border: 2px solid;
  border-radius: 10px;
  margin-top: 80px;
}

#input label,
input {
  margin: 5px;
  font-size: 18px;
}

#theCad {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}

#theCad h2 {
  text-decoration: underline;
}

#formCad {
  text-align: center;
}

#ctrl-sex {
  background: #e90606ea;
  font: bold 15px arial, sans-serif;
  color: #000000;
  border: 2px solid white;
  border-radius: 15px;
  margin: 5px;
}

#ctrl-sex:hover {
  background: rgba(255, 0, 0, 0.8);
  outline: 6px solid rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  cursor: pointer;
}

#ctrl-city {
  background: #e90606ea;
  font: bold 15px arial, sans-serif;
  color: #000000;
  border: 2px solid white;
  border-radius: 15px;
  margin: 5px;
}

#ctrl-city:hover {
  background: rgba(255, 0, 0, 0.8);
  outline: 6px solid rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  cursor: pointer;
}

#ctrl-state {
  background: #e90606ea;
  font: bold 15px arial, sans-serif;
  color: #000000;
  border: 2px solid white;
  border-radius: 15px;
  margin: 5px;
}

#ctrl-state:hover {
  background: rgba(255, 0, 0, 0.8);
  outline: 6px solid rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  cursor: pointer;
}

#ctrl-country {
  background: #e90606ea;
  font: bold 15px arial, sans-serif;
  color: #000000;
  border: 2px solid white;
  border-radius: 15px;
  margin: 5px;
}

#ctrl-country:hover {
  background: rgba(255, 0, 0, 0.8);
  outline: 6px solid rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  cursor: pointer;
}

.scholarity {
  margin-bottom: 20px;
}

#music {
  z-index: 999;
}

#languages {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0;
}

#languages h2 {
  text-decoration: underline;
}

.data1 p {
  text-align: right;
  font-size: 10px;
}

#ctrl-languages {
  margin-top: none;
  margin-bottom: none; 
}

#ctrl-languages details {
  display: inline;
  margin-top: 20px;
  cursor: pointer;
}

#ctrl-languages details summary {
  display: inline;
  margin-top: 10px;
}

.passPosition {
  background: #000;
  background-image: url(../assets/principal.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 220px;  
  background-position-x: 20%;
  
  font: bold 15px arial, sans-serif;
  color: #db0707;
  margin-top: 4px;
  padding-top: 10px;
  padding-bottom: 80px;
  text-align: center;
  border-radius: 10px;
}

.passwordTitle {
  color: #db0707;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
  text-decoration: underline;
}

.dubleButtom {
  text-align: center;
  
}

.oneButtom {
  background-color: #000;
  border: 2px solid #db0707;
  font-size: 30px;
  border-radius: 10px;
  padding-bottom: 0;
  padding: 10px;
  margin-top: 5px;
  text-align: center;
}

#buttomReset,
#buttomSubmit,
#buttomInitial {
  background: #000;
  font: bold 20px arial, sans-serif;
  color: #db0707;
  border: 2px solid #e90606ea;
  text-transform: uppercase;
  border-radius: 20px;
  margin-top: 50px;
  margin-bottom: 0;
  
}

#buttomReset:hover,
#buttomSubmit:hover,
#buttomInitial:hover {
  outline: 6px solid rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  cursor: pointer;
}

.form-InitialButtom {
  display: inline;
}

.data p {
  text-align: right;
  font-size: 10px;
  margin-right: 10px;
}

footer {
  background: #000;
  padding: 30px;
  text-align: center;
  margin-top: 5px;
  font: bold 15px arial, sans-serif;
  color: #db0707;
  border: 2px solid;
  border-radius: 10px;
}

footer a {
  font: bold 20px arial, sans-serif;
  border: 2px solid #e90606ea;
  border-radius: 20px;
  padding: 3px;
  margin-right: 10px;
  text-decoration: none;
  color: #db0707;
}

footer a:hover {
  outline: 6px solid rgba(255, 255, 255, 0.2);
  border-radius: 30px;
}

@media (width < 40rem) {
    #form1 label, input {
      font-size: 60%;
    }
  }

@media (width < 40rem) {
  #music audio {
    font-size: 40%;
  }
}

@media (width < 40rem) {
    body main section label h2{
      font-size: 90%;
    }
  }
  
  @media (width < 40rem) {
    body main section p{
      font-size: 50%;
    }
  }

  @media (width < 40rem) {
    label details summary{
      font-size: 60%;
    }
  }

  @media (width < 40rem) {
    .passwordTitle {
      font-size: 90%;
    }
  }

@media (max-width: 40rem) {
  label#passInform, label#passRepeatInform {
    font-size: 70%;     
  }
}
  
  @media (width < 40rem) {
    #buttomReset, #buttomSubmit, #buttomInitial {
      font-size: 70%;
    }
  }

  @media (width < 40rem) {
    .form-InitialButtom {
      font-size: 50%;
    }
  }

@media (width < 40rem) {
    footer {
      font-size: 70%;
    }
  }

  @media (width < 40rem) {
    footer a {
      font-size: 100%;
    }
  }

  @media (width < 40rem) {
    footer p {
      font-size: 80%;
    }
  }
  
  @media (max-width: 768px) {
    #input, .passPosition {
      background-image: none;
    }
  }

